<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RRApplication"
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_agenda"
        android:label="RR Puli"
        android:theme="@style/Theme.Material3.Light.NoActionBar">
     
      <activity
    android:name=".PinActivity"
    android:exported="true">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>
 <activity android:name=".HomeActivity" />  

<activity android:name=".CalculateActivity" />
<activity android:name=".EntryActivity" />
        <activity android:name=".BenfDetailActivity" />
         <activity android:name=".BenfListActivity" />
         <activity android:name=".EditActivity" />  
    </application>

</manifest>
